body{
	font-family: 'Poppins', sans-serif;
	overflow-x: hidden;
	margin: 0;
	padding-bottom: 20px;
}

.mainform{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 50px
}

.question{
	margin: 30px 0;
	box-shadow: 5px 5px 20px 0 rgba(20,20,20,0.15);
	width:45vw;
	padding: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.qs{
	font-size: 25px;
	font-weight: 800;
	text-transform: uppercase;
	width: 100%;
	text-align: left;
}
.cont{
	width: 90%;
}

.textinput{
	margin-top: 10px;
	width:90% ;
	outline: none;
	border: 0;
	border-bottom: 3px solid #70AE6E;
	font-size: 20px;
	text-transform: uppercase;
	font-weight: 600;
	background: transparent;
	padding:0 20px 10px 20px;
}

.radio {
	margin: 10px;
}

.section{
	display: flex;
	width: 100%;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 10px;
}

input[type="radio"] {
	opacity: 0;
	position: fixed;
	width: 0
}

.cont label{
	width: 40px;
	height: 40px;
	font-size: 20px;
	border:  2.5px solid #333;
	text-align: center;
	margin: 5px 20px;
	background: #fff;
	border-radius: 200px;
	font-weight: 600;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 5px 5px 20px 0 rgba(20,20,20,0.15);
	transition: border 0.2s ease;
}

.cont label:hover {
	border-color: #70AE6E;
	cursor: pointer;
}

.cont input[type="radio"]:checked + label {
	border-color: #70AE6E;
}

.subject label{
	padding: 10px 20px;
	width: auto;
	height: auto;
	font-size: 20px;
}
.submit{
	font-size: 25px;
	padding:10px 20px;
	font-family: cera pro;
	font-weight: 600;
	background: white;
	box-shadow: 5px 5px 20px 0 rgba(20,20,20,0.15);
	border: 0;
	border-radius: 5px;
	outline: none;
	border: 2px solid #fff;
}

.textarea{
	width: 100%;
	resize: none;
	outline: none;	
	border:  3px solid #70AE6E;
	height: 200px;
	padding: 20px;
	font-weight: 500;
	font-size: 18px;
}

.popup{
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	background: #fff;
	background: rgba(255, 255, 255, 0.8);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	display: none;
}

.notif{
	width: 45vw;
	background: #fff;
	box-shadow: 5px 5px 20px 0 rgba(20,20,20,0.15);
	padding: 30px;
	position: relative;
}

.notif1{
	display: none;
}

.notif2{
	display: none;
}

.close{
	position: absolute;
	top: 20px;
	right: 20px;
	text-transform: uppercase;
	font-weight: 600;
	cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.heading{
	text-align: center;
	margin-top: 30px;
	font-weight: 800;
	font-size: 35px;
}

@media screen and (max-width: 1000px) {
	.question{
		width: 80vw;
	}
}


@media screen and (max-width: 500px) {
	.section{
		justify-content: center;
	}

	.qs{
		text-align: center;
		font-size: 22px;
	}

	.question{
		width: 70vw;
	}

	.cont label{
		font-size: 18px;
	}
}